video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}

.hero-container h1, p {
    color: #fff;
}

.play-circle {
    background-image: url('../icons/playbutton.png');
    width: 36px;
    height: 36px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
    margin-bottom: 5px;
}